<div
    class="absolute top-12 left-0 w-40 overflow-hidden rounded-2xl border border-secondary/30 bg-primary shadow-2xl animate-[popup_0.2s_ease-out]">
    <button (click)="updateProduct()"
        class="w-full cursor-pointer px-4 py-3 text-left text-dark hover:bg-accent/10 transition font-medium">
        Update
    </button>

    <div class="h-px bg-secondary/20"></div>

    <button (click)="deleteProduct()"
        class="w-full cursor-pointer px-4 py-3 text-left text-red-500 hover:bg-red-500/10 transition font-medium">
        Delete
    </button>
</div>