<section class="min-h-screen flex items-center justify-center bg-primary px-4">
    <div class="w-full max-w-xl bg-white shadow-xl rounded-2xl p-8 border border-secondary">

        <h2 class="text-2xl font-semibold text-dark mb-6 text-center">
            Create Product
        </h2>

        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">

            <input formControlName="name" type="text" placeholder="Title..." class="w-full px-4 py-3 rounded-lg border border-secondary bg-primary text-dark placeholder-accent
   focus:outline-none focus:ring-2 focus:ring-accent transition">

            <input formControlName="description" type="text" placeholder="Description..." class="w-full px-4 py-3 rounded-lg border border-secondary bg-primary text-dark placeholder-accent
   focus:outline-none focus:ring-2 focus:ring-accent transition">

            <input formControlName="price" type="number" step="0.01" placeholder="Price..." class="w-full px-4 py-3 rounded-lg border border-secondary bg-primary text-dark placeholder-accent
   focus:outline-none focus:ring-2 focus:ring-accent transition">

            <input formControlName="quantity" type="number" placeholder="Quantity..." class="w-full px-4 py-3 rounded-lg border border-secondary bg-primary text-dark placeholder-accent
   focus:outline-none focus:ring-2 focus:ring-accent transition">

            <div class="flex flex-col gap-2">
                <label class="text-sm text-accent font-medium">Upload Media</label>

                <input (change)="onMediaChange($event)" type="file" class="w-full text-sm text-accent file:mr-4 file:py-2 file:px-4
                 file:rounded-lg file:border-0
                 file:bg-accent file:text-primary
                 hover:file:bg-dark transition cursor-pointer">
            </div>

            <div class="grid grid-cols-3 gap-3 mt-2">
                @for (m of media(); track $index) {
                <div class="relative group">

                    <img [src]="m.url" alt="product image" class="w-full h-24 object-cover rounded-lg border border-secondary
               group-hover:scale-105 transition duration-300">

                    <button (click)="removeMedia($index)" type="button" class="absolute top-1 right-1 bg-dark/70 text-primary
               w-6 h-6 rounded-full flex items-center justify-center
               text-xs hover:bg-dark transition opacity-0 group-hover:opacity-100">
                        ✕
                    </button>

                </div>
                }
            </div>

            <button type="submit" class="mt-4 w-full bg-dark text-primary py-3 rounded-lg font-semibold
               hover:bg-accent transition shadow-md">
                Create Product
            </button>

        </form>
    </div>
</section>